@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  max-width: 1280px;
  margin: auto;
  /* min-height: 90vh; */
  padding: 10px;
  padding-bottom: 60px;
}

.slick-next:before,
.slick-prev:before {
  color: #be9e44 !important;
  font-size: 2rem !important;
}

.slick-dots li button:before {
  color: #be9e44 !important;
}
